.rb-grid {
    list-style: none;
    text-align: center;
    margin: 0 auto;
}


.rb-grid ul.minili li{
    width: 18%;
    height: 15em;
    margin: 0.5%;
    background: #8CC7DF;
    color: #fff;
    display: block;
    float: left;
    padding: 1em;
    cursor: pointer;
    position: relative;
}

.rb-grid li {
    width: 24%;
    height: 15em;
    margin: 0.5%;
    background: #8CC7DF;
    color: #fff;
    display: block;
    float: left;
    padding: 1em;
    cursor: pointer;
    position: relative;
}

li.noPadding0 {
    width: 24%;
    height: 15em;
    margin: 0.5%;
    background: #8CC7DF;
    color: #fff;
    display: block;
    float: left;
    padding: 1.6em 0 0 0;
    cursor: pointer;
    position: relative;
}

li.noPadding {
    width: 24%;
    height: 15em;
    margin: 0.5%;
    background: #8CC7DF;
    color: #fff;
    display: block;
    float: left;
    padding: 0;
    cursor: pointer;
    position: relative;
}

li.noPadding2 {
    width: 24%;
    height: 15em;
    margin: 0.5%;
    background: #8CC7DF;
    color: #fff;
    display: block;
    float: left;
    padding: 1.6em 0 0 0;
    cursor: pointer;
    position: relative;
}
li.noPadding3 {
    width: 24%;
    height: 15em;
    margin: 0.5%;
    background: #8CC7DF;
    color: #fff;
    display: block;
    float: left;
    padding: 0 ;
    cursor: pointer;
    position: relative;
}

li.noPadding2 img {
    margin-top: -76px;
}

li.noPadding3 img {
    margin-top: -0px;
}

li.noPadding0 img {
    margin-top: 81px;
}


li.noPadding3 img.presentation {
    margin-top: -12px;
}

.rb-grid li.rb-span-2 {
    width: 49%;
}

.rb-grid li.rb-span-4 {
    width: 99%;
}

.rb-grid li h3 {
    font-size: 2.6em;
    font-weight: 100;
}

.rb-grid li[class^="icon-"]:before,
.rb-grid li[class*=" icon-"]:before {
    font-size: 10em;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: 3;
    opacity: 0.4;
    text-align: right;
    pointer-events: none;
}

.rb-temp {
    display: block;
    font-size: 2em;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.rb-grid li:hover .rb-temp {
    opacity: 1;
}

.rb-overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: -1;
    pointer-events: none;
    cursor: default;
}

.rb-close {
    position: absolute;
    top: 0.4em;
    right: 1em;
    width: 2em;
    height: 2em;
    text-indent: -9000px;
    cursor: pointer;
    z-index: 1000;
}

.rb-close::before {
    content: 'x';
    font-weight: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 3em;
    line-height: 0.6;
    text-align: center;
    text-indent: 0px;
}

.rb-week {
    width: 100%;
    height: 100%;
}

.rb-week > div {
    width: 70%;
    height: 100%;
    float: left;
    position: relative;
    padding: 3% 0;
}

.rb-week > div:first-child {
    width: 30%;
}

.rb-week span {
    padding: 5% 0;
    font-size: 2em;
    font-weight: 100;
    display: block;
    margin: auto 0;
    height: 30%;
    width: 100%;
    line-height: 0.8;
}

.rb-week span.rb-city {
    font-family: 'Lato';
    font-weight: 700;
    padding: 1% 10%;
    font-size: 3.5em!important;
    line-height: 1.2;
}

.rb-week [class^="icon-"]:before {
    font-size: 2.5em;
    font-weight: normal;
}

.rb-week > div:first-child [class^="icon-"] {
    opacity: 0.1;
}

/* Colors */

/* Grid */
.rb-grid li:nth-child(1), .rb-grid ul.minili li:nth-child(1) {
    background: #3399CC;
}



.rb-grid li:nth-child(2), .rb-grid ul.minili li:nth-child(2) {
    background: #33CCCC;
}

.rb-grid li:nth-child(3), .rb-grid ul.minili li:nth-child(3) {
    background: #996699;
}

.rb-grid li:nth-child(4), .rb-grid ul.minili li:nth-child(8) {
    background: #C24747;
}

.rb-grid li:nth-child(5) , .rb-grid ul.minili li:nth-child(7){
    background: #e2674a;
}

.rb-grid li:nth-child(6) , .rb-grid ul.minili li:nth-child(9){
    background: #FFCC66;
}

.rb-grid li:nth-child(7), .rb-grid ul.minili li:nth-child(10) {
    background: #99CC99;
}

.rb-grid li:nth-child(8), .rb-grid ul.minili li:nth-child(4){
    background: #669999;
}

.rb-grid li:nth-child(9) {
    background: #CC6699;
}

.rb-grid li:nth-child(10), .rb-grid ul.minili li:nth-child(6) {
    background: #339966;
}

.rb-grid li:nth-child(11) {
    background: #666699;
}

.rb-grid li:nth-child(12), .rb-grid ul.minili li:nth-child(5) {
    background: #8CC7DF;
}

/* Overlay Columns */
.rb-grid li:nth-child(1) .rb-week > div:nth-child(1) {
    background: #3399CC;
}

.rb-grid li:nth-child(1) .rb-week > div:nth-child(2) {
    background: #2D87B4;
}

.rb-grid li:nth-child(2) .rb-week > div:nth-child(1) {
    background: #33CCCC;
}

.rb-grid li:nth-child(2) .rb-week > div:nth-child(2) {
    background: #2DB4B4;
}


.rb-grid li:nth-child(3) .rb-week > div:nth-child(1) {
    background: #996699;
}

.rb-grid li:nth-child(3) .rb-week > div:nth-child(2) {
    background: #936293;
}

.rb-grid li:nth-child(4) .rb-week > div:nth-child(1) {
    background: #C24747;
}

.rb-grid li:nth-child(4) .rb-week > div:nth-child(2) {
    background: #B83D3D;
}

.rb-grid li:nth-child(5) .rb-week > div:nth-child(1) {
    background: #e2674a;
}

.rb-grid li:nth-child(5) .rb-week > div:nth-child(2) {
    background: #E05C3E;
}


.rb-grid li:nth-child(6) .rb-week > div:nth-child(1) {
    background: #FFCC66;
}

.rb-grid li:nth-child(6) .rb-week > div:nth-child(2) {
    background: #FFC247;
}


.rb-grid li:nth-child(7) .rb-week > div:nth-child(1) {
    background: #99CC99;
}

.rb-grid li:nth-child(7) .rb-week > div:nth-child(2) {
    background: #85C185;
}


.rb-grid li:nth-child(8) .rb-week > div:nth-child(1) {
    background: #669999;
}

.rb-grid li:nth-child(8) .rb-week > div:nth-child(2) {
    background: #629393;
}

.rb-grid li:nth-child(9) .rb-week > div:nth-child(1) {
    background: #CC6699;
}

.rb-grid li:nth-child(9) .rb-week > div:nth-child(2) {
    background: #C7578F;
}


.rb-grid li:nth-child(10) .rb-week > div:nth-child(1) {
    background: #339966;
}

.rb-grid li:nth-child(10) .rb-week > div:nth-child(2) {
    background: #2E8A5C;
}

.rb-grid li:nth-child(11) .rb-week > div:nth-child(1) {
    background: #666699;
}

.rb-grid li:nth-child(11) .rb-week > div:nth-child(2) {
    background: #626293;
}


.rb-grid li:nth-child(12) .rb-week > div:nth-child(1) {
    background: #8CC7DF;
}

.rb-grid li:nth-child(12) .rb-week > div:nth-child(2) {
    background: #8CC7DF;
}

@media screen and (max-width: 63.125em) {

    .rb-grid li,
    .rb-grid li.rb-span-2,
    .rb-grid li.rb-span-4 {
        width: 100%;
        height: 10em;
        text-align: left;
    }

    .rb-grid li[class^="icon-"]:before,
    .rb-grid li[class*=" icon-"]:before {
        font-size: 6em;
        left: auto;
        right: 0;
        line-height: 2.5;
    }

    .rb-grid li > div {
        text-align: center;
    }
}
